
        .container{
             width: 90%;
             backround-color: antiquewhite;
             margin: 0 auto;
             padding: 20px 10px;
        }
        .navbar{
           display: flex;
           justify-content: space-around;
        }
        .navbar a{
            text-decoration: none;
            font-size: 25px;
        }
        .maqola{
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
