<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>KunUz</title>
    <link rel="stylesheet" href="{% static 'auth/register.css' %}">
</head>
<body>
     <div class="container">

     <form method="post">
         {% csrf_token %}
         <input name="email", type="email" placeholder="Emailingizni kiriting">
         <input name="password", type="password" placeholder="Parolingizni kiriting">
         <button type="submit">Send</button>

     </form>



     </div>
</body>
</html>